.row {
	max-width: 70.5rem;
}

nav h1 img {
	height: 30px;
	width: auto;
}

table a.button {
	margin-bottom: 0 !important;
}

/*table thead tr th, table thead tr td {
	text-align: center;
}*/

.sub-nav {
	background-color: #f2f2f2;
	padding: 10px 10px 10px 0;
}

sub-nav dt a, .sub-nav dd a, .sub-nav li a {
	padding: 0.1875rem 0.1rem;
}

.tabs {
	background-color: #f6f6f6;
	padding: 3px;
}

.tabs dd > a, .tabs .tab-title > a {
	padding: 0.5rem 0.75rem;
}

.resource_img {
	margin-bottom: 30px;
}

		.empty_dash {
			min-height: 200px;
			margin-top: 39px;
			padding-top: 0px;
			border: 2px dashed #dddddd;
			text-align: center;
			color: #dddddd;
			font-size: 30px;
			border-radius: 16px;
			
			cursor: pointer;
		}
		
		.empty_dash span {
			font-size: 80px;
			position: relative;
			top: 15px;
		}
		
		.dashboarrd_title {
			position: relative;
			width: 100%;
		}
		
		.dashboarrd_title:after {
			position: absolute;
			top: -5px;
			right: 0;
			
			content: '-';
			font-size: 30px;
			color: #aaa;
		}
		
		.dashboarrd_title:hover:after {
			color: red;
		}
		
.button:before {
	margin-right: 0.5em;
}

/*map*/

.maps {
	position: relative;
}

.marker {
	font-size: 42px;
}

.marker.door {
	position: absolute;
	color: red;
}

.marker.own-position {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -20px;
	margin-left: -10px;
	color: green;
}

.keys span {
	display: inline-block;
	width: 32%;
	font-size: 18px;
}

.keys span:before {
	display: inline-block;
	margin-right: 0.5em;
}

.keys span:nth-child(1):before {
	color: green;
}
.keys span:nth-child(2):before {
	color: red;
}
.keys span:nth-child(3):before {
	color: blue;
}
.keys span:nth-child(4):before {
	color: orange;
}
.keys span:nth-child(5):before {
	color: purple;
}
.keys span:nth-child(6):before {
	color: black;
}
.keys span:nth-child(7):before {
	color: grey;
}
.keys span:nth-child(8):before {
	color: brown;
}
.keys span:nth-child(9):before {
	color: magenta;
}
.keys span:nth-child(10):before {
	color: cyan;
}
